<section>
    <article *ngFor="let post of posts, let i=index">
        <div class="blog-image"><img src="{{post.image}}"></div>
        <div class="blog-text">
            <div class="blog_text_inner">
                <a class="cat" href="#">{{post.category.name}}</a>
                <a [routerLink]="['/blog', post.slug]"><h4>{{post.title}}</h4></a>
                <div class="blog-p" [innerHTML]="post.mini_text"></div>
                <div class="date">
                    <span><img class="icon" src="../../../../assets/icon/calendar.svg">
                        {{post.published_date}}
                    </span>
                    <span><img class="icon icon-comment" src="../../../../assets/icon/comment.svg">
                        {{post.comments_count}}
                    </span>
                    <span><img class="icon icon-comment" src="../../../../assets/icon/eye.svg">
                        {{post.viewed}}
                    </span>
                    <span>
                        {{post.author}}
                    </span>
                </div>
            </div>
        </div>
    </article>
</section>
