<header>
    <span class="btn-open-menu">Menu</span>
    <div class="block-nav">
        <a class="a-logo" href="/"><img class="logo" src="../assets/img/logo.svg" alt=""></a>
        <nav>
            <ul>
                <li><a routerLink='/'>Главная</a></li>
                <li><a routerLink="/">Курсы</a></li>
                <li><a routerLink='blog'>Статьи</a></li>
                <li><a routerLink="/">Форум</a></li>
                <li><a routerLink="community">Сообщества</a></li>
                <li><a routerLink="/">Задания</a></li>
                <li><a routerLink="/">Тесты</a></li>
            </ul>
        </nav>
        <ul class="last">
            <li class="li-message">
                <a href="/"><img class="message"
                                 src="../../../assets/img/icons/message.svg" alt=""></a>
                <span class="counter">0</span>
            </li>
            <li><a href="login">Вход</a></li>
        </ul>
    </div>
</header>
