<section class="top-blog">
    <div class="top-post" *ngFor="let post of postsTop, let i=index">
        <div *ngIf="i < 4">
            <img class="top-post-image" src="{{post.image}}">
            <div class="post_text">
                <a [routerLink]="['/blog', post.slug]"><h4>{{post.title}}</h4></a>
                <div class="text" [innerHTML]="post.mini_text"></div>
                <div class="date">
                    {{post.published_date}}
                    <a class="link" href="">{{post.category.name}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main">
    <div class="sidebar">
        <div class="sidebar-section author">
            <div class="author-image"><img src="../../../assets/img/blog/my-ava2.jpg" alt="DJWOMS">
            </div>

            <ul class="social-icons">
                <li><a href="#"><img src="../../../assets/icon/icon-twitter.svg" alt="DJWOMS"></a></li>
                <li><a href="#"><img src="../../../assets/icon/icon-instagram.svg" alt="DJWOMS"></a></li>
                <li><a href="#"><img src="../../../assets/icon/icon-youtube.svg" alt="DJWOMS"></a></li>
            </ul>
            <h4 class="author-name"><b class="light-color">DJWOMS</b></h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                dolore magnam aliquam quaerat voluptatem.</p>
        </div>
        <div class="sidebar-section src-area">
            <form action="" method="get">
                <input class="src-input" type="text" placeholder="Поиск">
                <a class="src-btn" type="submit"><img src="../../../assets/icon/icon-search.svg"></a>
            </form>
        </div>
        <div class="sidebar-section nav-area">
            <ul class="nav">
                <li class="nav__item">
                    <a href="#submenu" class="nav__item-link">Профиль
                        <img class="icon icon-comment" src="../../../assets/icon/arrow-down.svg">
                    </a>
                    <div id="submenu" class="nav__submenu">
                        <a href="#" class="nav__submenu-link">Посты</a>
                        <a href="#" class="nav__submenu-link">Картинки</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <router-outlet style="display: none;"></router-outlet>
    </div>
</section>

